/* Animation Classes */
.slideRightFadeIn {
  opacity: 0;
  transform: translateX(100%);
  animation: lideRightFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.slideLeftFadeIn {
  opacity: 0;
  transform: translateX(-100%);
  animation: slideLeftFadeIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

/* Keyframes */
@keyframes slideRightFadeIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftFadeIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}