@import "@sweetalert2/theme-material-ui/material-ui.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-50 {
    animation-delay: 100ms;
  }

  .animation-delay-100 {
    animation-delay: 100ms;
  }

  .animation-delay-200 {
    animation-delay: 200ms;
  }

  .animation-delay-300 {
    animation-delay: 300ms;
  }

  .animation-delay-400 {
    animation-delay: 400ms;
  }

  .animation-delay-500 {
    animation-delay: 500ms;
  }

  .animation-delay-600 {
    animation-delay: 600ms;
  }

  .animation-delay-700 {
    animation-delay: 700ms;
  }

  .animation-delay-800 {
    animation-delay: 800ms;
  }

  .animation-delay-900 {
    animation-delay: 900ms;
  }

  .animation-delay-1000 {
    animation-delay: 1000ms;
  }
}

body {
  padding-right: 0 !important;
}

body.swal2-shown {
  overflow: auto !important;
}

body {
  min-height: 100%;
  overflow: auto !important;
}

html {
  height: 100%;
}

div#__next {
  height: 100vh !important;
}

.masonry-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1px;
}
