@tailwind base;
@tailwind components;
@tailwind utilities;

body.swal2-shown {
  overflow: auto !important;
}

body {
  min-height: 100%;
}

html {
  height: 100%;
}

div#__next {
  height: 100vh !important;
}

.masonry-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 1px;
}
